.red {
    color: red
}
h1 {
    color:blue
}
body {
    color:black
}
.box {
    height:90px;
    width: 90px;
    margin:50px;
    padding:20px;
    margin: 50px;
    border: 20px solid black;
    background-color: blue


}
}